<div class="bg-img-default">
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/home"><h5><b><font color="white"><span
                        class="glyphicon glyphicon-camera" aria-hidden="true"></span> {{language.title}}</font></b></h5>
                </a>
            </div>
            <div>
                <ul class="nav pull-right navbar-nav">
                    <li class=""><a href="#"><b><h5><font color="white"><b>{{language.signUp}}</b></font></h5></b></a></li>
                    <li class=""><a href="#"><b><h5><font color="white"><b>{{language.logIn}}</b></font></h5></b></a></li>
                    <li class=""><a href="#"><b><h5><font color="orange"><b>{{language.photographerPortal}}</b></font></h5></b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <form class="form-inline">
        <div id="bottom-div" style="line-height: 50px;">
        <div class="form-group" >
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                    Destination Search Box
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">UK</label>
                        </div>
                    </a></li>
                    <li><a href="#">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">France</label>
                        </div>
                    </a></li>
                    <li><a href="#">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Italy</label>
                        </div>
                    </a></li>
                    <li><a href="#">
                        <div class="checkbox">
                            <label><input type="checkbox" value="">Spain</label>
                        </div>
                    </a></li>


                </ul>
            </div>
        </div>
        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown">
                <div class="input-group"><input type="text" class="form-control" data-ng-model="data.dateDropDownInput"
                                                placeholder="Start Date"><span
                        class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="data.dateDropDownInput"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
            </ul>

        </div>
        <div class="dropdown form-group">
            <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown">
                <div class="input-group"><input type="text" class="form-control"
                                                data-ng-model="data.dateDropDownInput" placeholder="End Date"><span
                        class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <datetimepicker data-ng-model="data.dateDropDownInput"
                                data-datetimepicker-config="{ dropdownSelector: '#dropdown3' }"/>
            </ul>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-search"
                                                                aria-hidden="true"></span></button>
        </div>
        </div>
    </form>


</div>
<hr>
<h3>Gallary</h3>
<hr>
<div class="row">
        <div class="item col-md-4" >
            <img src="http://perfectmomentfilms.co.uk/wp-content/uploads/2015/01/Wedding_photo.jpg" alt="..." style="height:400px">
            <div class="carousel-caption">
                <h3>Photo Title</h3>
                <p>Description</p>
            </div>
        </div>
    <div class="item col-md-4" style="padding-left:200px">
        <img src="http://www.dorchestercollection.com/uploads/images/HotelBelAir/FullLengthImages/Medium/Wedding_couple_HBA.jpg" alt="..." style="height:400px">
        <div class="carousel-caption">
            <h3>Photo Title</h3>
            <p>Description</p>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="item col-md-4" >
        <img src="http://greenweddingshoes.com/wp-content/uploads/2013/08/UKedpeers-wedding-01.jpg" alt="..." style="height:400px">
        <div class="carousel-caption">
            <h3>Photo Title</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="item col-md-3" style="padding-left:100px">
        <img src="http://bestweddinginviations.com/wp-content/uploads/2015/03/best-wedding-dresses-uk-photos-2015.jpg" alt="..." style="height:400px">
        <div class="carousel-caption">
            <h3>Photo Title</h3>
            <p>Description</p>
        </div>
    </div>

    <div class="item col-md-4" style="padding-left:100px">
        <img src="http://www.mossbroshire.co.uk/media/adminforms/mosshomepagetopimages/cache/1/cache/5e06319eda06f020e43594a9c230972d/w/e/wedding-hire_version3.jpg" alt="..." style="height:400px">
        <div class="carousel-caption">
            <h3>Photo Title</h3>
            <p>Description</p>
        </div>
    </div>

</div>
<hr>
<div class="row">
    <div class="item col-md-4" >
        <img src="http://www.homewoodpark.co.uk/content/uploads/2012/03/xWeddings1.jpg.pagespeed.ic.ZT_-pYQCr2.jpg" alt="..." style="height:400px">
        <div class="carousel-caption">
            <h3>Photo Title</h3>
            <p>Description</p>
        </div>
    </div>
    <div class="item col-md-4" style="padding-left:150px">
        <img src="http://www.wedding-car.co.uk/images/homepage/main-image/couple-with-alice.jpg" alt="..." style="height:400px">
        <div class="carousel-caption">
            <h3>Photo Title</h3>
            <p>Description</p>
        </div>
    </div>
    <hr>
</div>



